<% if @results.empty? %>
  <div class="vmiddle-major">
    <h4>No Overlapped Result Predicted on All Networks!</h4>
    <div class="button-area">
      <%= submit_tag "Show All Results", :onclick => "showAllResults()", :class => "go-button smaller"%>
      <%= form_tag( {:controller => 'predictions', :action => 'downloadResults'}, :class => "inline-display" ) do %>
  		<%= text_field_tag "task_id", @task_id, :type => "hidden" %>
  		<%= submit_tag "Download Results", :class => "go-button smaller"%>
  	  <% end %>
    </div>
  </div>
<% else %>
  <%= render 'shared/initial_colorbox' %>

  <div class="button-area">
    <%= submit_tag "Show All Results", :onclick => "showAllResults()", :class => "go-button smaller"%>
    <%= form_tag( {:controller => 'predictions', :action => 'downloadResults'}, :class => "inline-display" ) do %>
  		<%= text_field_tag "task_id", @task_id, :type => "hidden" %>
  		<%= submit_tag "Download Results", :class => "go-button smaller"%>
  	<% end %>
	<div class="legend">
  		<div class="green-square">Gene Known to the Disease</div>
  		<div class="red-square">Gene on a Known Linkage Interval</div>
  	</div>
  </div>

  <table class="prediction-rank-table">
    <thead><tr><th>#</th></tr></thead>
    <tbody>
      <% for row_num in 1..@results.length %>
        <tr><td><%= row_num %></td></tr>
      <% end %>
    </tbody>
  </table>
  
  <table class="prediction-result-table">
    <thead><tr><th>Overlapped Gene</th></tr></thead>
    <tbody>
      <% @results.each do |result| %>
        <tr class="<%= checkGeneLocation(result, @linkage_interval, @omim_id) %>"><td>
          <%= link_to result, { :controller => "genes", :action => "search", :symbol => result }, 
	          					:class => "gene-information-colorbox", :title => "Gene Information" %>
        </td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
