<% 
max_result_num = 0
array_nums = 0
failed_prediction_messages = []
@results.each do |resultHash|
	resultHash.each do |network, resultArray|
		if resultArray.empty?
			failed_prediction_messages.push("Failed to predict phenotype-genotype relationship on #{network}")
		else
			array_nums += 1
			result_num = resultArray.length
			if result_num > max_result_num
				max_result_num = result_num
			end
		end
	end
end
%>

<%= render 'shared/initial_colorbox' %>

<% unless failed_prediction_messages.empty? %>
  <div class="failed_prediction_message">
  	<ul>
    <% failed_prediction_messages.each do |message| %>
    	<li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless array_nums <= 1 %>
  <div class="button-area">
	<%= submit_tag "Show Overlapped Results", :onclick => "showOverlappedResults()", :class => "go-button smaller"%>
	<%= form_tag( {:controller => 'predictions', :action => 'downloadResults'}, :class => "inline-display" ) do %>
  		<%= text_field_tag "task_id", @task_id, :type => "hidden" %>
  		<%= submit_tag "Download Results", :class => "go-button smaller"%>
  	<% end %>
  </div>
<% end %>

<table class="prediction-rank-table">
  <thead><tr><th>Rank</th></tr></thead>
  <tbody>
	<% for row_num in 1..max_result_num %>
	  <tr><td><%= row_num %></td></tr>
	<% end %>
  </tbody>
</table>
<% @results.each do |resultHash| %>
  <% resultHash.each do |network, resultArray| %>
  	<% unless resultArray.empty?%>
  	  <table class="prediction-result-table">
	    <thead><tr><th><%= network %></th></tr></thead>
	    <tbody>
	      <% resultArray.each do |result| %>
	        <tr><td>
	          <%= link_to result, { :controller => "genes", :action => "search", :symbol => result }, 
	          						:class => "gene-information-colorbox", :title => "Gene Information" %>
	        </td></tr>
	      <% end %>
	    </tbody>
	  </table>
	<% end %>
  <% end %>
<% end %>
