<%= form_tag "predict", :method => "get" do %>
	<table class="field-table">
	<col /><col /><col />
	<tr>
  		<td class="label"><%= label_tag "top_results", "Show Top Result # " %></td>
  		<td class="input" colspan="2"><%= text_field_tag "top_results", "100" %></td>
  	</tr>
  	
  	<tr>
  		<td class="label">
  			<%= label_tag "gamma", "Restart Probability (γ) " %> 
  			<%= image_tag("infoButton.png", :size => "24x24", :class => "field-infobutton", :data => { :url => tips_gamma_path }) %>
		</td>
  		<td class="input" colspan="2"><%= text_field_tag "gamma", "0.7" %></td>
  	</tr>
  	
  	<tr>
  		<td class="label">
  			<%= label_tag "lambda", "Jumping Probability (λ) " %> 
  			<%= image_tag("infoButton.png", :size => "24x24", :class => "field-infobutton", :data => { :url => tips_lambda_path }) %>
  		</td>
  		<td class="input" colspan="2"><%= text_field_tag "lambda", "0.5" %></td>
  	</tr>
  	
  	<tr>
  		<td class="label">
  			<%= label_tag "eta", "Sub-network weight (η) " %>
  			<%= image_tag("infoButton.png", :size => "24x24", :class => "field-infobutton", :data => { :url => tips_eta_path }) %>
  		</td>
  		<td class="input" colspan="2"><%= text_field_tag "eta", "0.5" %></td>
  	</tr>
  	
  	<tr>
  		<td class="label" rowspan="4">
  			<%= label_tag "network", "Network Selection " %><br />
  			<%= image_tag("infoButton.png", :size => "24x24", :class => "field-infobutton", :data => { :url => tips_net_selection_path }) %>
  		</td>
		<td class="label"><%= label_tag "semantic-prior", "Semantic Prior " %></td>
  		<td class="input"><%= check_box_tag "semantic-prior", 1, true %></td>
  	</tr>
  	<tr>
  		<td class="label"><%= label_tag "semantic-nprior", "Semantic Non-Prior " %></td>
		<td class="input"><%= check_box_tag "semantic-nprior", 1, true %></td>
  	</tr>
  	<tr>
  		<td class="label"><%= label_tag "ppi-prior", "PPI Prior " %></td>
			<td class="input"><%= check_box_tag "ppi-prior", 1, true %>
		</td>
  	</tr>
  	<tr>
  		<td class="label"><%= label_tag "ppi-nprior", "PPI Non-Prior " %></td>
  		<td class="input"><%= check_box_tag "ppi-nprior", 1, true %></td>
  	</tr>
  	
  	<tr>
  		<td class="submit" colspan="3">
  			<%= submit_tag "Reset",  :type => "reset", :class => "go-button" %>
  			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  			<%= submit_tag "Start!", :class => "go-button"%>
  		</td>
  	</tr>

  	</table>
<% end %>