<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if @title.blank?%>	
  		MEbGDP
  	<% else %>
  		MEbGDP | <%= @title %>
  	<% end %>
  </title>
  <%= render 'layouts/script' %>
  <%= render 'layouts/stylesheet' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
 	<%= render 'layouts/header' %>
 </header>
	
 <section>
 	 <div class="major">
  	 	<%= yield %>
  	 </div>
 </section>
   
  <footer>
  	<%= render 'layouts/footer' %>
  </footer>

</body>
</html>
